body{
    background-color: #9e9e9e;
}

div{
    background-color: #6d7790;
    margin: auto;
    margin-top: auto;
    width: 50%;
    margin-top: 1%;
    height: 90vh;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
}
h1{
    margin: auto;
    width: 13%;
}
p{
    width: 5vw;
    height: 10vh;
    background: blueviolet;
    margin: 1%;
    border-radius: 15px;
}
